#mapId {
  height: 800px;
  width: 100%;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

[class*="col"] {
  text-align: center;
}

#countryData {
  color: darkgreen;
}

#dataH1 {
  text-align: left;
  font-size: 50%;
}

.infoBtn {
  font-size: 35%;
}

