#mapId {
  height: 100vh;
}

.leaflet-left {
  width: 100%;
}

#topLeftDiv {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#selectionRow {
  
}

#btnRow {
  
}

#btnCol {
  position:relative;
  left: 5px;
 
}

#tableCol {

}

#bottomRightDiv {
  /*background-color: navy;*/
  right: 25px;
  top: 80px;
  width: 130px;
  height: 50px;
}

.btn {
  background-color: grey;
  position: relative;
  width: 40px;
  padding: 5px;
  border-radius: 10px;
}

#countryWikiBtn {
  width: 30px;
  height: 30px;
  padding: 2px;
}

#countrySelection {
  width: 200px;
  
}

#infoFlagImg, #covidFlagImg, #hdiFlagImg {
  height: 50px;
  width: 70px;
}

#tableCol {
 display: none;
}

#infoTable  {
  text-align: left;
  font-weight: bold;
}

#infoTable td {
  font-size: 130%;
  color: #0d335d;
}

#infoTable th  {
  font-size: 160%;
  background-color: darkgray;
  color: white;
  text-align: left;
}

#infoTable th a {
  float: right;
}

#covidTable {
  text-align: left;
  font-weight: 550;
}

#covidTable td {
  font-size: 120%;
  color: forestgreen;
}

#covidTable th {
  font-size: 140%;
  background-color: skyblue;
  color: white;
  text-align: left;
}

#hdiTable {
  text-align: left;
  font-weight: 550;
}

#hdiTable td {
  font-size: 120%;
  color: darkcyan;
}

#hdiTable th {
  font-size: 140%;
  background-color: goldenrod;
  color: white;
  text-align: left;
}

#weatherTable {
  font-size: ;
  background-color: ;
  color: white;
  text-align: center;
}

#weatherTable td {
  font-size: ;
  color: white;
  text-align: center;
}

#weatherTable th {
  font-size: 140%;
  background-color: gray;
  color: white;
  text-align: left;
}



.leaflet-popup-content-wrapper {
  overflow: auto;
}

.leaflet-popup-content-wrapper .leaflet-popup-content p{
 margin: 3px 0;
}

.leaflet-popup-tip-container {
  
}


.weatherDivIcon {
  width: 70px !important;
  height: 70px !important;
  text-align: center !important;
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 40px;
}

.weatherDivIcon img {
  
}

.weatherDivIcon figcaption {
  position: relative;
  bottom: 10px;
  color: blue;
  font-size: 125%;
  font-style: italic;
  font-weight: bold;
}

@media screen and (max-height: 400px)  {
  #tableCol {
    height: 290px;
  }
}

@media screen and (max-height: 300px)  {
  #tableCol {
    height: 200px;
    }
  .leaflet-popup-content-wrapper {
  max-height: 180px;
  } 
}

@media screen and (max-width: 300px)  {
  #tableCol {
    font-size: 80%;
  }
}

@media screen and (max-width: 400px)  {
  .leaflet-popup-content-wrapper {
  max-width: 200px;
  max-height:230px;
  } 
}